@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main{
    background-color: rgb(194, 231, 236);
    height: 100vh;
    background-size: cover;
}
#li1{
    color:rgb(68, 52, 52);
}
.image{
    height:500px;
    width:500px;
    border-radius:500px;
    padding:30px;
    margin:10px;
}
.head{
    color:dimgray;
    font-weight:bold;
    font-family:serif;
}
.para{
    color:dimgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.but {
    font-family: "Roboto";
    background-color: #132d84;
    color: #fad693;
    border-radius: 5px;
    margin: 10px;
}
